---
layout: default
title: Unsere Veranstaltungen
permalink: /events/
---

<div style="margin-left: 10px;">
    <h1>Veranstaltungen</h1>

    <div class="posts">
        <ul class="postlist-unstyled">
            {% for post in site.posts reversed %}
            {% if post.date > site.time and post.categories contains 'talk' %}
            <li class="postlist-item">
                <p class="post-header">
                    <a href="{{ site.baseurl }}{{ post.url }}">{{ post.date | date: "%d.%m.%Y" }} - {{post.author}} - {{ post.title }}</a>
                </p>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>

    <h1>Vergangene Veranstaltungen</h1>

    <div class="posts">
        <ul class="postlist-unstyled">
            {% for post in site.posts %}
            {% if post.date < site.time and post.categories contains 'talk' %}
            <li class="postlist-item">
                <p class="post-header">
                    <a href="{{ site.baseurl }}{{ post.url }}">{{ post.date | date: "%d.%m.%Y" }} - {{post.author}} - {{ post.title }}</a>
                </p>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>

