---
layout: default
---

<div style="margin-left: 10px;">
    <div>
        {% for post in site.categories['talk'] reversed %}
        {% if post.date >= site.time %}
        <h2>Nächste Veranstaltung:</h2>
            <h3>{{ post.date | date: "%d.%m.%Y" }} - {{ post.title }}</h3>
        <p>{{ post.excerpt }}</p>
        <p class="event-abstract">Weitere Informationen <a href="{{ site.baseurl }}{{ post.url }}" alt="Veranstaltungsinformation {{ post.title }}">hier</a>.</p>
        {% break %}
        {% endif %}
        {% endfor %}
    </div>

    <p>Zur kompletten Liste der <a href="{{ site.baseurl }}/events" alt="Liste der Veranstaltungen">Veranstaltungen</a>.</p>

    <h2>News</h2>

    <div class="posts">
        <ul class="postlist-unstyled">
            {% for post in site.posts %}
            {% if post.categories contains 'news' %}
            <li class="postlist-item">
                <p class="post-header">
                    <a href="{{ site.baseurl }}{{ post.url }}">{{ post.date | date: "%d.%m.%Y" }} - {{ post.title }}</a>
                </p>
                <p>{{ post.excerpt }}</p>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>

