<div style="padding: 0px 30px 0px 20px;">
    <div style="margin-bottom: 20px;">
        <h4>Kontakt</h4>
        <div>{% include svg-icons.html %}</div>
    </div>
    <div style="margin-top: 20px;">
        <h4>Partner-JUGs</h4>
        <div class="logo" >
            <a href="http://jug-da.de/">
                JUG Darmstadt
            </a>
        </div>
        <div class="logo" >
            <a href="http://www.jugsaar.de/">
                JUG Saarbrücken
            </a>
        </div>
    </div>
    <div style="margin-top: 20px;">
        <h4>Sponsoren</h4>
        <div class="logo" >
            <a href="http://www.topdesk.de">
                <img src="../images/logo-topdesk.jpg" alt="TOPdesk Deutschland GmbH">
            </a>
        </div>
        <div class="logo" >
            <a href="http://www.iese.fraunhofer.de">
                <img src="../images/logo-iese.gif" alt="Fraunhofer IESE">
            </a>
        </div>
        <div class="logo" >
            <a href="http://www.sti-ev.de">
                <img src="../images/logo-sti.jpg" alt="Software Technologie Initiative Kaiserslautern e.V.">
            </a>
        </div>
    </div>
</div>