<div style="padding: 0px 50px 0px 20px;">
    <div style="margin-bottom: 20px;">
        <h4>Kontakt</h4>
        <div>{% include svg-icons.html %}</div>
    </div>
    <div style="margin-bottom: 20px;">
        <h4>Newsletter</h4>
        <div><a href="mailto:jug-kl+subscribe@googlegroups.com" target="_top">Subscribe</a></div>
    </div>

    <div style="margin-top: 20px;">
        <h4>Sponsoren</h4>
        <div class="logo" >
            <a href="http://www.topdesk.de">
                <img src="../images/logo_topdesk.svg" width="200" alt="TOPdesk Deutschland GmbH">
            </a>
        </div>
        <div class="logo" >
            <a href="https://www.chaos-inkl.de">
                <img src="../images/logoChaosInKl.png" width="200" alt="Chaos inKL">
            </a>
        </div>
    </div>
</div>