<h3> Mai 2015: <a href="http://blog.n-k.de/">Niko Köbler</a>: Beer-as-a-Service - Node.js und Evented I/O Alternativen auf der JVM</h3>
<hr></hr>
<p class="event-abstract">
    Node.js (oder mittlerweile auch I/O.js) ist als „Evented I/O Runtime“ weit verbreitet und vielseitig im Einsatz.
    Aber wie kann die neue Node.js-Welt in vorhandene Enterprise-Architekturen eingebunden werden? Es gibt ausgereifte
    Monitoring-Prozesse für JVM-Runtime-Umgebungen und ein nicht unerheblicher Anteil von Fachlogik ist in
    Java-Bibliotheken implementiert. Zusätzlich ist die Ausführung von JavaScript Code in Node.js nur single-threaded.
    Lohnt sich das dann überhaupt?<br>
    Die nahtlose Integration und (nahezu vollständige) Kompatibilität zu Node.js-Anwendungen in JVM-Umgebungen
    verspricht Nodyn von RedHat. Hierbei werden aber JVM-native JavaScript-Engines wie Nashorn bzw. DynJS verwendet.
    Zusätzlich spielen hier auch Netty und Vert.x eine Rolle.
    Diese Lösung ermöglicht es nicht nur JavaScript Code asynchron und nicht-blockierend zu verwenden, sondern diesen
    auch in verteilten Umgebungen mit Hilfe des Vert.x-Eventbusses ablaufen zu lassen.<br>
    Mit Hilfe meines „Beer-as-a-Service“ zeige ich Möglichkeiten, wie mittlerweile auch im Unternehmensumfeld
    JavaScript serverseitig eingesetzt werden kann.</p>

<p class="event-emphasis">21.05.2015, 19:00, <a href="/location">Fraunhofer IESE, Kaiserslautern</a> </p>

<h4>Speaker:</h4>

<div class="text-image-parent">
    <div class="text-image-left">
        <emp>Niko Köbler</emp> ist freiberuflicher Software-Architekt, Developer & Trainer für Java & JavaScript
        (Enterprise) Lösungen, Integrationen und Webdevelopment. Er ist Co-Lead der JUG Darmstadt, schreibt Artikel
        für Fachmagazine und ist regelmäßig als Sprecher auf internationalen Fachkonferenzen anzutreffen.
        Niko twittert unter <a href="https://twitter.com/dasniko">@dasniko</a>.
    </div>
    <div class="text-image-right">
        <img src="/images/speaker/niko_koebler.png" alt="Niko Köbler"/>
    </div>
</div>